html{
    height: 100vh;
}
body{
    
    width: auto;
    background-image: url(Assets/shardar-tarikul-islam-YWdcZ0ZC5q0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
}
.formulario{
    width: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Number{
    width: 300px;
    height: 25px;
    margin: 30px ;
    border-radius: 50px;
    // border-style: none;
    text-align: center;
}
.Btn_Submin{
    width: 100px;
    height: 40px;
  border-radius: 50px;
}
.card{
    
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 25px;
    h2{
        color: white;

    }
    ul{
        list-style: none;
        color: white;
    }
    h3{
        color: white;
    }
    p{
        color: white;
        
        
    } 

    img{
        height: 300px;
        width: 300px;
        border-radius: 25px 25px 0 0;
    }
     

}

@mixin bordes {
    border: 2px solid black;
    border-radius: 25px;
    background-color: grey;
    
}
.card{
    @include bordes()
}
.contenedor{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



